<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shops Page</title>
    <style>
        /* body {
            margin: 0;
            padding: 0;
        }
        #shops {
            margin-top: 20px;
            padding: 0;
            border-style: solid;
            border-color: red;
        }
        #element {
            margin: 1px;
        } */
        
        .container {
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
        }
        .box {
            border: 1px #ccc solid;
            width: 300px;
            margin: 20px;
        }
        .image-container {
            border: 2px solid #ccc;
            width: 150px;
            height: 150px;
            margin: auto;
        }
        .buttons {
            margin: auto;
            margin-top: 10px;
            margin-bottom: 5px;
            text-align: center;
        }

        h3 {
            text-align: center;
            margin-top: 0;
        }

        header {
            float: right;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <% for(var i=0; i<prefShops.length; i++) { %>
            <div class="box">
                <h3 id="<%= prefShops[i].name %>"><%= prefShops[i].name %></h3>
                <div class="image-container">
                    <img src= "<%= prefShops[i].picture %>">
                </div>
                <div class="buttons">
                    <form method="POST" action="/like">
                        <input type="hidden" name="shopId" value="<%= prefShops[i].id %>">   
                        <input type="submit" name="like" value="like">
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<script>
   
</script>
</html>