<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/shops.css">
    <title>Shops Page</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/logout" class="navbar-brand"><i class="fa fa-sign-out"></i>Log out</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" class="sort"><i class="fa fa-street-view"></i>Sort by distance</a></li>
                <li><a href="/shops" class="current"><i class="fa fa-eye"></i>Nearby Shops</a></li>
                <li><a href="/prefShops"><i class="fa fa-heart"></i>Preferred Shops</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <% for(var i=0; i<Shops.length; i++) { %>
            <div class="box">
                <h3 id="<%= Shops[i].name %>"><%= Shops[i].name %></h3>
                <div class="image-container">
                    <img src= "<%= Shops[i].picture %>">
                </div>
                <div class="buttons">
                    <button type="button" class="dislike btn btn-danger" id="dislikeBtn" style="float:left;"><i class="fa fa-thumbs-o-down"></i>Dislike</button>
                    <button type="button" class="like btn btn-success" id="<%= Shops[i].id %>" style="float:right;"><i class="fa fa-thumbs-o-up"></i>Like</button>
                </div>
            </div>
        <% } %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/ajaxFuncs.js"></script>
</body>
<script>
   $(function() {
       $('.container').on('click', '.dislike', function() {
            var parentBox = $(this).closest('.box');
            parentBox.hide(0, null, function() {
                console.log('Hiding element');
                setTimeout(function(){
                    parentBox.show();
                }, 7200000); // show it after 2 hours
            });
       });
   });
</script>
</html>